@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    @apply font-medium text-white text-base;
  }
}
